
body {
    background-color: rgba(214, 185, 147, 0.253)!important;
}
/*globales*/
.bg-primary {
    background-color: rgba(5, 108, 199, 0.651)!important;
}
.imagen-bg {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
h2 {
    font-size: 3rem;
}
/*TITULO*/
.navegacion-principal .nav-link {
    font-weight: 600;
}
.titulo {
    font-family: 'Playfair Display', serif;
}
.titulo span {
    color: rgb(5, 108, 199);
}
.nav-link {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: black!important;
    font-size: 1.3rem;
}
.nav-link:hover {    
    background-color:rgba(5, 108, 199, 0.651);
    border-radius: 1rem;
}
.navbar {
    border-top: 1px solid rgba(5, 108, 199, 0.651);
    border-bottom: 1px solid rgba(5, 108, 199, 0.651);
}

/*IMAGEN PRINCIPAL*/
.imagen-principal {
    background-image: url(../img/principal.jpg);
    height: auto;
}

/*Categorias*/
.categorias a {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: black!important;
    font-size: 1.5rem;
}
/*sobre-nosotros*/
.sobre-nosotros,
.imagen-nosotros {
    min-height: 35rem;
}
.imagen-nosotros {
    background-image: url(../img/nosotros.jpg);
}
/*NUESTROS PRODUCTOS*/
.info-producto .precio {
    font-size: 1.8rem;
}
.info-producto .btn-success {
    background-color: rgb(0, 172, 14)!important; 
    border-color: transparent!important;
}
.info-producto .btn-success:hover {
    background-color: rgb(6, 129, 16)!important;
}
/*FOOTER*/
.footer {
    border-top: 1.5px solid rgba(5, 108, 199, 0.651)!important;
}
.titulo,.footer-menu .nav-link {
    color: rgb(71, 71, 71)!important;
}